table#t01 caption {
	background-color: black;
	color: white;
	text-align: center;
}

#movies img {
	width:100%;	
	}

@media(min-width: 960px) {
	#movies .col-md-3 .well {
		height:390px;
	}

	#movies .col-md-3 img {
		height:240px;
	}
}