<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Biblioteca de filmes EasyCatalog</title>	
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-app="easyCatalog" ng-controller="easyCatalogCtrl">
	
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">MovieInfo</a>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron">
			<h3 class="text-center"><b><i>Easy Catalog</i></b></h3>
			<p>Faça sua busca diretamente no catálogo da IMDB e adicione na sua biblioteca de filmes assistidos.</p>
			<form>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Digite o nome do filme" ng-model="nomeImdbFilme" ng-keypress="pressEnter($event)">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" ng-click="buscarImdbFilme()">Buscar</button>
					</span>
				</div>
			</form>
			<div class="alert-danger" role="alert">{{message}}</div>
		</div>
	</div>
		

	<div class="container">
		<div id="movies" class="row">
			<div ng-repeat="imdbFilme in imdbFilmes">
				<div class="col-md-3"> 
					<div class="well text-center">
						<img ng-src="{{imdbFilme.poster}}"/>
						<h5>{{imdbFilme.titulo}}</h5>
						<a ng-click="movieSelected('{{imdbFilme.imdbId}}')" class="btn btn-primary" href="#">Movie Details</a>
						<h5>{{imdbFilme.imdbId}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="container">	
		<div>
			<table class="table table-hover" id="t01">
			<caption>Biblioteca de Filmes</caption>
				<thead>
					<tr>
						<th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"></th>
						<th>Titulo</th>
						<th>Ano</th>
						<th>Tipo</th>
						<th>Poster</th>
						<th>View</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="imdbFilme in imdbFilmes">
						<td><input type="checkbox" ng-model="imdbFilme.selecionado"></td>
						<td>{{imdbFilme.titulo}}</td>
						<td>{{imdbFilme.ano}}</td>
						<td>{{imdbFilme.tipo}}</td>
						<td><img ng-src="{{imdbFilme.poster}}" height="60" /></td>
						<td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#meuModal" ng-click="modalImdb(imdbFilme)"><span class="glyphicon glyphicon-eye-open"></span></button></td>
					</tr>
				</tbody>
			</table>
			
			<div class="modal fade" id="meuModal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body" data-dismiss="modal">
							<div class="row">
          						<div class="col-xs-12 col-md-8">
          							<img src="{{selected.poster}}" class="img-responsive" />
          						</div>
          						<div class="col-xs-6 col-md-4">
          							<p>{{selected.titulo}}</p>
									<p>{{selected.ano}}</p>
									<p>{{selected.tipo}}</p>
								</div>
        					</div>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-primary btn-block" ng-click="adicionarFilme(imdbFilmes)">Adicionar Filmes</button>
		</div>
	</div>	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="js/app.js"></script>
</body>
</html>