<!DOCTYPE html>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Biblioteca de filmes EasyCatalog</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<script src="lib/angular/angular.js"></script>
	<script src="lib/bootstrap/js/bootstrap.js"></script>
	<script src="js/app.js"></script>
</head>

<body ng-app="easyCatalog" ng-controller="easyCatalogCtrl">
	
	<div class="header" ng-style="{'background-image':'url(./image/fundo-madeira.jpeg)'}">
		<h1><b><i>Easy Catalog</i></b></h1>
		<p>Faça sua busca diretamente no catálogo da IMDB e adicione na sua biblioteca de filmes assistidos.</p>
	</div>	

	<div class="container">

		<div class="jumbotron">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="nomeImdbFilme" placeholder="Digite o nome do filme" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" ng-click="buscarImdbFilme()">Buscar</button>
				</span>
			</div>
			<div class="alert-danger" role="alert">{{message}}</div>
		</div>

		<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"></th>
						<th>Selecionado</th>
						<th>Titulo</th>
						<th>Ano</th>
						<th>Tipo</th>
						<th>Poster</th>						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="imdbFilme in imdbFilmes">
						<td><input type="checkbox" ng-model="imdbFilme.selecionado"></td>
						<td>{{imdbFilme.selecionado}}</td>
						<td>{{imdbFilme.titulo}}</td>
						<td>{{imdbFilme.ano}}</td>
						<td>{{imdbFilme.tipo}}</td>
						<td><img ng-src="{{imdbFilme.poster}}" height="60" data-toggle="modal" data-target="#myModal" />
							<div class="modal fade" id="myModal" role="dialog">
		    					<div class="modal-dialog" ng-repeat="imdbFilme in imdbFilmes">      							
		      						<div class="modal-content">       
		        						<div class="modal-body" data-dismiss="modal">
		        							<img ng-src="{{imdbFilme.poster}}" />
		        						</div>        
		      						</div>      
		    					</div>
		  					</div>		  					
  						</td>  												
					</tr>
				</tbody>
			</table>
			<button class="btn btn-primary btn-block" ng-click="adicionarFilme(imdbFilmes)">Adicionar Filmes</button>
		</div>

	</div>

	<div class="container">
		<h2 style="text-align: center;">Biblioteca de filmes</h2>
	</div>

	<div class="container" ng-style="{'background-image':'url(./image/fundo-madeira.jpeg)'}">
		<div class="row">
			<div ng-repeat="imdbFilme in imdbFilmes">
				<div class="col-lg-4">
					<div class="col-sm-4 col-md-4 col-lg-4">
						<div id="moldura">
							<img ng-src="{{imdbFilme.poster}}" width="90" height="120"/>
						</div>
					</div>
					<div class="col-sm-8 col-md-8 col-lg-8">
						<div id="legenda">
							<p>TÍTULO: {{imdbFilme.titulo}}</p>
							<p>ANO: {{imdbFilme.ano}}</p>
							<p>TIPO: {{imdbFilme.tipo}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>